<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="/js/jquery.js"></script>
    <script src="./index.js"></script>
    <style type="text/css">
      #table {
      display:table; 
      }
      .row {
      display:table-row;
      }
      .row>div {
      display:table-cell;
      margin:5px;
      padding:5px;
      border:1px solid;
      }
    </style>
    <title>lisp</title>
  </head>
  <body>
    <a href="../">Top</a>
    <div style="text-align: right; float : right;"><button id="quit-button">quit</button></div>
    <h1>list of lisps</h1>
    <div id="table"></div>
    <hr>
    <input id="new-name"></input>
    <button id="new-button">new-swank</button>
  </body>
</html>
